@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.08s linear;
  -webkit-transition: all 0.08s linear;
  -moz-transition: all 0.08s linear;
  -ms-transition: all 0.08s linear;
  -o-transition: all 0.08s linear;
}

:focus {
  outline: none;
}

::-webkit-scrollbar {
  display: none;
}

@keyframes infRotate {
  to {
    transform: rotate(360deg);
    transition: 1s;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
